.div1_style {
  border: 1px solid white;
  margin-top: 20px;
  text-align: center;
  padding-top: 50px;
  padding-right: 180px;
  padding-bottom: 10px;
  padding-left: 180px;
  font-family: fantasy;
  font-size: 18px;
}
