.nav {

  display: inline-flex;
  list-style: none;
  margin: 10px;
  word-spacing: 1px;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 44px;
  padding-bottom: 15px;
  padding-left: 18px;
  text-align: center;
  font-family: fantasy;
}

.nav li {
  margin-left: 16px;
  margin-top:10px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  font-size: 36px;
  font-family: fantasy;
}

#p1 {
  font-size: 18px;
  font-family: fantasy;
}

.nav_div1 {
border: 1px solid white;
margin-top: 20px;
text-align: center;
padding-top: 50px;
padding-right: 180px;
padding-bottom: 10px;
padding-left: 180px;
}

.nav_div2 {
  text-align: center;
}

.a_style {
  border: 1px solid white;
  margin-top: 20px;
  text-align: center;
  padding-top: 30px;
  padding-right: 180px;
  padding-bottom: 50px;
  padding-left: 180px;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  }

#main_container {

    width: 1000px;
    height: 10px;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}



h2 {
  font-size: 22px;
  font-family: fantasy;
}



/*fix the one below*/
img {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    display: block;
    align-items: center;

}

#email_icon {
  width: 100%;
  height: auto;
  margin-top: auto;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

}


/*make photos in center*/
#food_photos {
  max-width: 25%;
  display: inline-flex;
  text-align: center;
    margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}

#head_list {
  display: inline-flex;
  list-style-type: none;
  spacing: 20px;
  text-align: center;
  font-family: fantasy;
  font-size: 22px;
  background: solid grey;
}

#signup {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  margin-bottom: 100px;
}
