.nav {

  display: inline-flex;
  list-style: none;
  margin: 10px;
  word-spacing: 1px;
  font-size: 24px;


  text-align: center;
  font-family: fantasy;
}

.nav li {
  margin-left: 16px;
  margin-top:10px;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 30px;
}





.nav_div1 {
border: 1px solid white;
margin-top: 20px;
text-align: center;
padding-top: 10px;
padding-right: 100px;
padding-bottom: 60px;
padding-left: 100px;
font-family: fantasy;
font-size: 20px;
}

.nav_div2 {
  text-align: center;
  font-family: fantasy;
  font-size: 24px;
}

.a_style {
  border: 1px solid white;
  margin-top: 20px;
  text-align: center;
  padding-top: 30px;
  padding-right: 180px;
  padding-bottom: 50px;
  padding-left: 180px;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  }





h2 {
  font-size: 22px;
  font-family: fantasy;
}


img {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    display: block;
    align-items: center;
}



h1 {
  font-size: 36px;
  font-family: fantasy;
  text-align: center;
  color: #d66363;
}

#p1 {
  font-size: 20px;
  font-family: fantasy;
}

#email_icon {
  width: 100%;
  height: auto;
  margin-top: auto;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

#main_container {
    width: 1000px;
    height: 10px;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}


#food_photos {
  max-width: 25%;
  display: inline-flex;
  text-align: center;
    margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#head_image {
  max-width: 80%;
  display: inline-flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#head_list {
  display: inline-flex;
  list-style-type: none;
  spacing: 20px;
  text-align: center;
  font-family: fantasy;
  font-size: 22px;
  background: solid grey;
}

#signup {
  font-size: 18px;
  font-family: fantasy;
  text-align: center;
  margin-bottom: 1px;
}


#aboutus_list {
  display: inline-flex;
  list-style-type: none;
  spacing: 20px; 
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#aboutus_h2 {
  font-size: 36px;
  font-family: fantasy;
  margin-top: 50px;
  margin-bottom: 10px;
  color: purple;
}

.mySlides {display:none;}
